streamlit
pandas
beautifulsoup4
arrow
lxml #parse tides
plotly
numpy
scipy
timeago
selenium # tides click CSV export button
webdriver-manager  # tides click CSV export button - Gecko Streamlit Cloud selenium
streamlit
seleniumbase



